#calc {
	display: grid;
	grid-template: 1fr 5fr/230px;
	grid-gap: 3px;
	margin: 10% 35%;
}

#calc-display {
	border: 1px solid black;
	padding: 2px 3px 0 0;
	overflow: hidden;
	white-space: nowrap;
}

#calc-input {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	float: right;
}

#calc-body {
	display: grid;
	grid-template: 4fr 1fr/3fr 1fr;
	grid-gap: 3px;
	clear: both;
	user-select: none;
}

#calc-body button {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
}

#calc-numpad {
	display: grid;
	grid-template: repeat(4, 1fr)/repeat(3, 1fr);
	grid-gap: 3px;
}


#calc-operators {
	display: grid;
	grid-template: repeat(4, 1fr)/1fr;
	grid-gap: 3px;
}

#calc-cleaners {
	display: grid;
	grid-template: 1fr/1fr 1fr;
	grid-gap: 3px;
	grid-column: 1 / 3;
}