#calc {
	width: 12%;
	margin: 10% 35%;
	display: grid;
	grid-template: 1fr 5fr/1fr;
	grid-gap: 3px;
}

#calc-display {
	border: 1px solid black;
	padding-right: 3px;
	padding-top: 2px;
	overflow: hidden;
	white-space: nowrap;
}

#calc-input {
	float: right;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
}

#calc-body {
	clear: both;
	height: 160px;
	display: grid;
	grid-template: 4fr 1fr/3fr 1fr;
	grid-gap: 3px;
	user-select: none;
}

#calc-body button {
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;
}

#calc-numpad {
	display: grid;
	grid-template: repeat(4, 1fr)/repeat(3, 1fr);
	grid-gap: 3px;
}


#calc-operators {
	display: grid;
	grid-template: repeat(4, 1fr)/1fr;
	grid-gap: 3px;
}

#calc-cleaners {
	width: 100%;
	display: grid;
	grid-template: 1fr/1fr 1fr;
	grid-gap: 3px;
	grid-column: 1 / 3;
}